html {
  font-family: "Montserrat", sans-serif;
}

body {
  transition: background-image 1s ease-in-out;
}

.logo-animada {
  display: flex;
  margin: 0 auto;
  width: 250px;
}

#info-header h1 {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Celular */
@media only screen and (max-width: 768px) {
  #btn-login,
  #btn-cadastro {
    position: relative;
    width: 300px;
    height: 150px;
    font-size: 4rem;
    border: 0;
    font-weight: 300;
    float: left;
    margin: 4rem auto;
    text-align: center;
  }

  #btn-login {
    color: white;
    background: #fe0066;
  }

  #btn-cadastro {
    color: #fe0066;
    background: #989898;
  }

  #botoes {
    margin: 0 auto;
    max-width: 700px;
    display: grid;
  }

  #info-header {
    position: relative;
    padding: 5rem 0 0 0;
  }

  #input-login {
    max-width: 600px;
    padding: 0 35px;
    margin: 0 auto;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  #btn-login,
  #btn-cadastro {
    position: relative;
    width: 264px;
    height: 110px;
    font-size: 3rem;
    border: 0;
    font-weight: 300;
    text-align: center;
    margin-bottom: 4rem;
  }

  #btn-login {
    color: white;
    background: #fe0066;
    float: right;
  }

  #btn-cadastro {
    color: #fe0066;
    background: #989898;
    float: left;
  }

  #botoes {
    margin: 0 auto;
    max-width: 700px;
  }

  #info-header {
    position: relative;
    padding: 5rem 0;
  }

  #input-login {
    max-width: 600px;
    padding: 0 75px;
    margin: 0 auto;
  }
}

#btn-login:hover,
#btn-cadastro:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#h1-login {
  max-width: 600px;
  padding: 7rem 0;
  text-align: center;
  margin: 0 auto;
}

#h1-login span {
  color: #fe0066;
}

#btn-enjoy {
  display: block;
  margin: 0 auto;
  width: 222px;
  height: 122px;
  border: 0;
  background: #989898;
  font-size: 2.75rem;
  color: #fe0066;
  box-shadow: -15px 15px #414141;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4rem;
}

#btn-enjoy:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.botao-login {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
Input
*/
.input-field {
  width: 100%;
  margin: 2rem 0;
  border-color: black;
  border-top: 1px solid black;
}

.input-field ::placeholder {
  text-align: center;
}
/* label color */
.input-field label {
  color: #fe0066;
  font-size: 1.3rem;
  font-weight: bold;
}
/* label focus color */
.input-field input[type="text"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #fe0066;
}
/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 1px solid #fe0066;
  box-shadow: 0 1px 0 0 #fe0066;
}
/* valid color */
.input-field input[type="text"].valid,
.input-field input[type="password"].valid {
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid,
.input-field input[type="password"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* label focus color */
.input-field input[type="text"],
.input-field input[type="password"] {
  border-bottom: 1px solid #000;
  text-align: center;
  color: #fe0066;
}

.input-field input[type="text"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #fe0066 !important;
}

.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #fe0066 !important;
  box-shadow: 0 0px 0 0 #fe0066 !important;
}

/* Cadastro */
.cadastro-esquerdo #h1-login {
  padding: 3rem 0;
  font-size: 3rem;
}

#frase {
  color: white;
  font-weight: 300;
  padding: 3rem 1.5rem;
  font-size: 2rem;
  text-align: center;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .cadastro-direito {
    float: right;
    width: 45%;
    margin-left: 5%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.356);
  }

  .cadastro-esquerdo {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}

/* Celular */
@media only screen and (max-width: 768px) {
  .cadastro-direito {
    height: max-content;
    background-color: rgba(0, 0, 0, 0.356);
  }
}

/*

Home

*/

.home {
  background-color: black;
  display: flex;
}

#e-logo-right,
#e-logo-left {
  padding: 0 1rem;
  font-size: 3rem;
}

#e-logo-right {
  float: right;
}

#e-logo-left {
  float: left;
}

#emotions-logo {
  font-size: 3rem;
  color: #fe0066;
  text-align: center;
  margin: 0 auto;
}

#experiencias {
  width: 55%;
  float: left;
}

#funcionou-comigo {
  width: 25%;
  float: left;
}

#meu-perfil {
  width: 20%;
  float: left;
}

#espaco-usuario img {
  display: flex;
  width: 120px;
  height: 120px;
  margin: 2rem auto;
  border-radius: 100%;
  box-shadow: 8px -8px 1px #fe0066;
}

#espaco-usuario h2 {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

#experiencias {
  background-color: #c4c4c4;
}

#header-ex {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
  padding-bottom: 2rem;
  border-bottom: 3px solid black;
}

#rosa {
  color: #fe0066;
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#funcionou-comigo {
  background: #414141;
}

#header-fc {
  margin: 1.8rem 0 1.68rem 0;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

#azul-esquerdo {
  position: relative;
  left: 25px;
  text-align: left;
  color: #0bd3ff;
  text-shadow: none;
}

#esquerdo-form-ex {
  text-align: left;
  padding: 1rem 3rem;
}

#modo-anonimo {
  color: black;
}

#modo-anonimo p {
  float: left;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

#btn-on-ff {
  display: flex;
  float: left;
  margin-left: 18px;
}

#on {
  line-height: 30px;
  text-align: center;
  background: #42e85c;
  width: 35px;
  height: 30px;
}

#off {
  line-height: 30px;
  text-align: center;
  background: #de3232;
  width: 35px;
  height: 30px;
}

#bola-e {
  font-size: 2.5rem;
  text-align: center;
  line-height: 50px;
  float: right;
  border-radius: 50%;
  display: block;
  height: 60px;
  width: 60px;
  background-color: #414141;
  color: white;
  box-shadow: 6px -6px 1px #fe0066;
}

#baixo-form-ex {
  padding-top: 3rem;
  padding-left: 3rem;
}

#experiencia-input {
  font-family: "Montserrat", sans-serif;
  resize: none;
  padding: 10px;
  color: white;
  margin: 0 auto;
  min-height: 100px;
  box-shadow: 4px 4px #fe0066;
  max-width: 50%;
  background-color: #414141;
}

#experiencia-input::placeholder {
  color: white;
}

#area-publicar {
  margin: 0 auto;
}

#btn-publicar {
  position: relative;
  top: -35px;
  left: -50px;
  float: right;
  border: 0px;
  width: 95px;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
  box-shadow: 5px -5px #414141;
  cursor: pointer;
}

#btn-publicar:hover {
  background-color: #414141;
  box-shadow: 5px -5px black;
}

#cima-form-fc {
  padding: 20px;
  height: 120px;
}

#cima-form-fc p {
  float: left;
  width: 30%;
  color: white;
  text-align: center;
  font-size: 110%;
}

#fc-input {
  padding: 10px;
  float: right;
  max-width: 65%;
  margin-left: 5%;
  height: 75px;
  background-color: white;
  box-shadow: 5px -5px #0BD3FF;
  resize: none;
}

#baixo-form-fc #modo-anonimo {
  font-weight: normal;
  color: white;
  float: right;
}
#baixo-form-fc #modo-anonimo p {
  font-weight: normal;
}

#modo-anonimo #on {
  float: left;
  margin: 0 15px;
}

#baixo-form-fc button {
  font-weight: 500;
  float: none;
  position: initial;
  width: 110px;
  height: 25px;
  color: black;
  background-color: white;
  box-shadow: 5px -5px #0BD3FF;
  text-align: center;
  margin: 0.5rem 2rem;
}

#baixo-form-fc button:hover {
  background-color: #0BD3FF;
  box-shadow: 5px -5px white;
  color: white;
}

#baixo-perfil {
  background-color: #000000a1;
  padding: 1rem;
}

#funcionalidades .funcao {
  box-shadow: 2px 2px 3px;
  font-size: 1.1rem;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #c4c4c4;
  text-align: center;
}

#ver-perfil:hover {
  color: #0BD3FF;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.50);
}

#sobre:hover {
  color: #fe0066;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.50);
}

#campo-colegas {
  margin-top: 3rem;
}

#colegas-espaco {
  margin: 0 auto;
  width: 40%;
  padding: 10px;
  background-color: #c4c4c4;
  text-align: center;
  box-shadow: 2px 2px 3px;
}